

.navbar {
    background-color:white;

    }

.navbuttons {
    list-style-type:none;
    margin-top:0;
    padding:0;
    overflow:hidden;
    
    }

/*Button Appearance*/
.button {
	font:bold 20px Arial;
	text-decoration: none;
	background-color: white;
	color:#cccccc;
	padding:15px 25px 9px 25px;
    float:right;
    
    }

.name {background:#4aaaa5; 
	color:#cccccc; 
	font-family:Georgia;
    font-size:35px;
    font-weight:bold; 
	width:21%; 
	padding:2%;
    margin-bottom:0px;
    margin-top:0px;
    float:left;
    
    }
/*Footer is inline CSS*/

/*Clearfix*/
.clearfix::after {
	content:"";
	display:block;
	clear:both;
	}
